{% extends 'todo_app/base.html' %}
{% block title %} Completed Todos {% endblock %}
{% block content %}
<h1>Completed Todos</h1>
<hr>
<ul>
    {% for todo in todos %}
    <li>
        <form action="{% url 'todo_app:change_status' %}" method="POST">
            {% csrf_token %}
            <input type="checkbox" name="checked" onclick="this.form.submit()" {%if todo.status%}checked{%endif%} />
            <input type="hidden" name="pk" value="{{ todo.pk }}">
            {{ todo.text }}
        </form>
    </li>
    {% endfor %}
</ul>
<hr>
<a href="{% url 'todo_app:index' %}">Todos</a>
{% endblock %}