{% extends 'todo_app/base.html' %}
{% block title %} Todos {% endblock %}
{% block content %}
<h1>Todo</h1>
<p>Hello: {{ user.username }}</p>
<hr />
<ul>
  {% for todo in todos %}
  <li>
    <form action="{% url 'todo_app:change_status' %}" method="POST">
      {% csrf_token %}
      <input type="checkbox" name="checked" onclick="this.form.submit()" />
      <button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
      <input type="hidden" name="pk" value="{{ todo.pk }}" />
      <a href="{% url 'todo_app:details' %}?pk={{ todo.pk }}">{{ todo.text }}</a>
    </form>
  </li>
  {% endfor %}
</ul>
<hr />
<a href=" {% url 'todo_app:completed_todos' %}">Completed Todos</a>
<a href="{% url 'todo_app:pdf' %}">Pdf</a>
<form action="." method="POST">
  {% csrf_token %}
  <input type="text" name="text" placeholder="Write your todo item here!" />
  <button>create todo</button>
</form>
<a href="{% url 'login_app:logout' %}">Log out</a>
{% endblock %}