<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Password Request</title>
</head>

<body>
    <h1>Request Password Request</h1>
    <a href="{% url 'login_app:login' %}">Log In</a>
    <hr>
    <form action="{% url 'login_app:password_reset' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="submit" value="Reset password">
    </form>
    <hr>
    {% if message %}{{ message }}{% endif %}
</body>

</html>