<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>
    <h1>Sign up</h1>
    <hr>
    <form action="{% url 'login_app:sign_up'%}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="tel" name="phone" place="mobile number">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Cornfirm password">
        <input type="submit" value="Sign up">
    </form>
</body>

</html>